body {
    background-color: #ddd;
}
h1 {
    padding-top: 100px;
}
h1, h5 {
    text-align: center;
}
h3 {
    padding-top: 10px;
}
h1 span {
    color: #fdba3d;
}
.card img {
    size: 10px;
}

.container {
    padding-top: 80px;
}

.footer {
    padding-top: 25px;
  }

a.text-white me-4 {
    padding-left: 10px;
    height: 100px;
}

.btn btn-primary {
    color: #fdba3d;
}
